<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    {% for article in articles %}
        <div style="padding: 0 1.5rem;">
            <h2>{{ article.title }}</h2>
            <div>
                <span style="color: gray">posted by {{ user.username }} on {{ article.publish }}</span>
                <p>{{ article.text|linebreaks }}</p>
            </div>
            <hr>
        </div>
    {% empty %}
        <div style="padding: 1rem 1.5rem;">
            <h3 style="text-align: center">There is no article for show</h3>
        </div>
    {% endfor %}
</div>

</body>
</html>