{% extends 'blogs/_base.html' %}

{% block title %}
    Article List
{% endblock %}

{% block content %}
    <div>
        {% for article in articles %}
            <div style="padding: 0 1.5rem;">
                <h2>{{ article.title }}</h2>
                <div>
                    <span style="color: gray">posted by {{ user.username }} on {{ article.publish }}</span>
                    <p>{{ article.text|truncatewords:10 }}</p>
                </div>
                <a href="{{ article.get_absolute_url }}" style="font-size: 1.2rem; color: #2C2C2C;text-decoration: unset">More Detail</a>
                <hr>
            </div>
        {% empty %}
            <div style="padding: 1rem 1.5rem;">
                <h3 style="text-align: center">There is no article for show</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}